# ESP32S3 DevKitM board configuration

# Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

if BOARD_ESP32S3_USBOTG

config BOARD
	default "esp32s3_usbotg"

config HEAP_MEM_POOL_SIZE
	default 98304 if WIFI
	default 40960 if BT
	default 4096

choice BT_HCI_BUS_TYPE
	default BT_ESP32 if BT
endchoice

endif

if BOARD_ESP32S3_USBOTG_APPCPU

config BOARD
	default "esp32s3_usbotg_appcpu"

config HEAP_MEM_POOL_SIZE
	default 4096

config KERNEL_BIN_NAME
	default "esp32_net_firmware"
endif

config ENTROPY_GENERATOR
	default y

if LVGL

config LV_Z_BITS_PER_PIXEL
	default 16 

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_16
endchoice

config LV_COLOR_16_SWAP
	default y

endif # LVGL