# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.

# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_CH32
	bool
	select BUILD_OUTPUT_HEX

if SOC_FAMILY_CH32

config SOC_FAMILY
	string
	default "wch_ch32"

source "soc/riscv/wch/*/Kconfig.soc"

endif # SOC_FAMILY_CH32
