# CH32 devices HAL config

# Copyright (c) 2016 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0


config HAS_CH32_DRIVERS
	bool
	# depends on SOC_FAMILY_CH32

if HAS_CH32_DRIVERS

config USE_CH32_HAL_GPIO
	bool
	help
	  Enable CH32Cube General-purpose I/Os (GPIO) HAL module driver

endif
