# Copyright (c) 2024 zerosensei
# SPDX-License-Identifier: Apache-2.0

choice
    prompt "WCH System clock source"
    default WCH_RTC_TIMER

config WCH_RTC_TIMER
	bool "WCH Real Time Counter Timer"
	depends on CLOCK_CONTROL
	select TICKLESS_CAPABLE
	select SYSTEM_TIMER_HAS_DISABLE_SUPPORT
	depends on $(dt_nodelabel_enabled,clk32k)
	help
	  This module implements a kernel device driver for the WCH Real Time
	  Counter and provides the standard "system clock driver" interfaces.

config WCH_SYS_TIMER
	bool "WCH System Timer"
	depends on CLOCK_CONTROL
	select TICKLESS_CAPABLE
	select SYSTEM_TIMER_HAS_DISABLE_SUPPORT
	select TIMER_HAS_64BIT_CYCLE_COUNTER
	depends on $(dt_nodelabel_enabled,systimer)
	help
	  This module implements a kernel device driver for the system timer
	  and provides the standard "system clock driver" interfaces.


endchoice