# Copyright (c) 2021 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_CH32V30X

source "soc/riscv/wch/ch32v30x/Kconfig.defconfig.ch32v30*"

config SOC_SERIES
	default "ch32v30x"

endif # SOC_SERIES_CH32V30X
