# Copyright (c) 2023 zerosensei
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_CH58X
    bool "WCH CH58x series SoC implementation"
    select RISCV
    select SOC_FAMILY_RISCV_PRIVILEGE
    select INCLUDE_RESET_VECTOR
	select BUILD_OUTPUT_HEX
    select HAS_CH32_HAL

    help
      Enable support for WCH CH58x series SoC
