# Copyright (c) 2024 zerosensei
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_CH58X
    select RISCV
	select ARCH_HAS_RAMFUNC_SUPPORT
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
	select RISCV_ISA_EXT_C
	select RISCV_ISA_EXT_ZICSR
	select ATOMIC_OPERATIONS_C
    select INCLUDE_RESET_VECTOR
    select ARCH_HAS_CUSTOM_CPU_IDLE
    select ARCH_HAS_CUSTOM_CPU_ATOMIC_IDLE
	select HAS_PM
	select HAS_CH58X_HAL
    imply XIP
