# Copyright (c) 2021 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_CH32V
	bool "CH32V Series MCU"
	select RISCV
	select RISCV_GP
	# select SOC_FAMILY_CH32
	select SOC_FAMILY_RISCV_PRIVILEGE
	# select COMPRESSED_ISA
	select CLOCK_CONTROL_CH32 if CLOCK_CONTROL
	select INCLUDE_RESET_VECTOR
	select BUILD_OUTPUT_HEX

	select DYNAMIC_INTERRUPTS
	select CLOCK_CONTROL
	select HAS_CH32_DRIVERS

	help
		Enable support for CH32V MCU series
