# Copyright (c) 2021 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_CH32V

source "soc/riscv/riscv-privilege/ch32v/Kconfig.defconfig.ch32v*"

config SOC_SERIES
	default "ch32v"

config CLOCK_CONTROL
	default y

config UART_CH32
	default y
	depends on SERIAL

if GPIO
config GPIO_CH32
	default y

endif # GPIO

config PINMUX_CH32
	default y
	depends on PINMUX

endif # SOC_SERIES_CH32V
