# SPDX-License-Identifier: Apache-2.0

config SOC_FLASH_CH5XX
	bool "WCH CH5XX flash driver"
	default y
	depends on DT_HAS_WCH_CH5XX_FLASH_CONTROLLER_ENABLED
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
    select FLASH_HAS_EXPLICIT_ERASE
	help
	  Enable WCH flash driver.
