# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_CH32V=y
CONFIG_SOC_CH32V307_VCT6=y
CONFIG_BOARD_CH32V307V_R1=y

# enable uart driver
# CONFIG_SERIAL=y
# enable console
CONFIG_CONSOLE=y
# CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

# enable clocks
CONFIG_CLOCK_CONTROL=y

# enable pin controller
# CONFIG_PINCTRL=y
