# Copyright (c) 2022 zerosensei
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_CH32
	bool "Pin controller driver for CH32 MCUs"
	# depends on SOC_FAMILY_CH32
	default y
	help
	  Enable pin controller driver for CH32 MCUs

config PINCTRL_CH32_REMAP_INIT_PRIORITY
	int "Remap initialization priority"
	default 2
	help
	  Initialization priority for the routine in charge of configuring the
	  remap for pins PA11/12.
